.container{
  background-color: #1d75de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 480px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.title {
  font-size: 39px;
}
.subtitle {
  font-size: 24px;
}
.buttons {
  display: "flex";
  justify-content: "center";
}
.button-primary {
  margin-right: 10px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 12px;
}
.button-secondary {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 12px;
}
.terms {
  font-size: 12px;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.features{
    display: flex;
    padding: 20px;
}
.feat{
    padding: 20px;
}
